#!/usr/bin/env bash

export MYSQL_HOST="127.0.0.1"
export MYSQL_ROOT_PASSWORD="root"
export MYSQL_DATABASE="mydb"
export MYSQL_TEST_DATABASE="mydb_test"
export MYSQL_USER="local_user"
export MYSQL_TEST_USER="test_user"
export MYSQL_PASSWORD="mypassword"
export MYSQL_PORT="3306"
export GOOSE_DRIVER="mysql"
export GOOSE_DBSTRING="$MYSQL_USER:$MYSQL_PASSWORD@tcp($MYSQL_HOST:$MYSQL_PORT)/$MYSQL_DATABASE?parseTime=true"
export GOOSE_MIGRATION_DIR="db/migrations"
