#!/usr/bin/env bash

export MYSQL_ROOT_PASSWORD="root"
export MYSQL_DATABASE="mydb"
export MYSQL_USER="local_user"
export MYSQL_PASSWORD="mypassword"
export MYSQL_PORT="3306"
export GOOSE_DRIVER="mysql"
export GOOSE_DBSTRING="local_user:mypassword@tcp(127.0.0.1:3306)/mydb?parseTime=true"
export GOOSE_MIGRATION_DIR="db/migrations"
